[v-cloak] {
    display: none;
}

html {
    margin-bottom: 1em;
}

body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;

    h1 {
        padding-top: 0.5em;
        text-align: left;
    }
}

button {
    cursor: pointer;
    padding: 0.4em 0.6em;
    margin: 0.4em;
    font-weight: bold;
}

#app {
    min-height: 100%;
    overflow: hidden;
    margin: 1em auto 0;
    max-width: 60em;
}

.nav {
    margin-top: 0.8em;
    a {
        &.router-link-active {
            color: #42b983;
        }
    }
}

a {
    font-weight: bold;
    color: #2c3e50;
}

.card {
    max-width: 5em;
    height: auto;
}

.villains-container {
    height: 9em;
    width: 80%;
    max-width: 40em;
    margin: 5em auto 0;
}

.main-footer {
    margin: 0 auto;
    max-width: 80em;
    font-size: 0.8em;
    font-weight: bold;
    text-align: right;
    padding: 4em 1em 0;
}

#bmc-wbtn {
    position: relative !important;
    float: right;
    top: 8px !important;
    right: 8px !important;
}

@media screen and (max-width: 560px) {
    #app {
        font-size: 90%;
    }

    .page-heading {
        .current-game {
            margin-top: 0;
        }
    }

    .villains-container {
        margin-top: 4em;
    }
}
