[v-cloak] {
    display: none;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;

    overflow: hidden;

    h1 {
        padding-top: 0.5em;
        text-align: left;
    }
    margin: 1em auto;
    max-width: 60em;
}

#nav {
    padding-top: 1.5em;
}

.nav {
    a {
        font-weight: bold;
        color: #2c3e50;

        &.router-link-exact-active {
            color: #42b983;
        }
    }
}
.page-heading {
    display: flex;
    justify-content: flex-start;
    .current-game {
        margin-bottom: 0;
    }
}

.card {
    max-width: 5em;
    height: auto;
}

.villains-container {
    height: 9em;
    width: 80%;
    max-width: 40em;
    margin: 4em auto 0;
}

@media screen and (max-width: 560px) {
    #app {
        font-size: 90%;
    }

    .page-heading {
        .current-game {
            margin-top: 0;
        }
    }
}
